/*Cameron Wilson, 12/16/21*/

a:hover {
    color:darkred;
    text-decoration:solid;
}

.resumeListHeading {
    font-weight:lighter;
}

li {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.personal-img {
    width: 50%;
}

.anchor {
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    position:absolute;
    top: 900px;
    left: 60%;
    z-index: 1;
}
video {
    position:relative;
    width:70%;
    left:15%;
    right:15%;
}